html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#controls {
    position: absolute;
    width: 170px;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

#controls button, select {
    width: 100%;
}

#controls input[type="number"] {
    width: 97%;
}

#controls .heading {
    background: #333;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 150%;
}

#controls label {
    display: block;
    background: #fff;
    color: #333;
    text-align: left;
    line-height: 150%;
    font-size: 12px;
    font-weight: 800;
}

#controls #search {
    width: 67%;
    display: inline-block;
    background: #99cc00;
    border: 0;
    color: #fff;
    border-radius: 3px;
    line-height: 150%;
    margin: 1px 0;
}

#controls #searchStop {
    width: 30%;
    display: inline-block;
    background: #ff6666;
    border: 0;
    color: #fff;
    border-radius: 3px;
    line-height: 150%;
    margin: 1px 0;
}

#controls #searchStep {
    width: 100%;
    background: #ffb366;
    border: 0;
    color: #fff;
    border-radius: 3px;
    line-height: 150%;
    margin: 1px 0;
}

#controls .content {
    margin: 5px;
}

#visualization {
    position: absolute;
    left: 170px;
    top: 0;
}
